extends layout

block content
  h1= title
  p Bonjour bienveue sur le site de du laboratoire de recheche #{title}
  p Nous vous avons mit en ligne des questionnaire pour vous des etudes.
  p Cliquez ici pour retopurver celui de l'activité physique 
 
 
